html, body {
    font-family: $family-primary;
    background-color: #fafafa;
    overflow-x: hidden;
}
%slide-in-right {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

%slide-in-left {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

%slide-in-top {
    // left: 0%;
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
%fade-in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.button {
    cursor: pointer;
    margin: 30px 20px;
    display: inline-block;
    width: 180px;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 30px;
    background-color: $purple;
    font-weight: 700;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.2s linear;
    @media (max-width: 768px) {
        margin: 10px 20px;
        &:nth-child(1) {
            margin-top: 30px;
        }
    }
    &:hover {
        background-color: darken($purple, 20%);
    }
}
h3 {
    text-align: center;
    margin: 10px 0 30px;
    font-size: 37px;
    color: $text;
    font-weight: 700;
    padding-bottom: 50px;
}
