// h1,h2,h3,h4,p {
//     letter-spacing: 0;
// }
%slide-in-right {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

%slide-in-left {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

%slide-in-top {
    // left: 0%;
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
%fade-in {
  opacity: 1;
  filter: alpha(opacity=100);
}
