footer {
  width: 100%;
  height: 60px;
  background-color: $text-color;
  @include flexBasic(center, row, nowrap);
  &>div {
    width: 32%;
    height: 60px;
  }
}
.footer {
  &__copy {
    text-align: center;
    p {
      line-height: 60px;
      color: #efefef;
      font-size: $font-size/1.2;
      font-family: $family-secondary;
    }
  }
  &__social {
    img {
      width: 30px;
      height: 30px;
      margin: 15px 5px;
      opacity:.7;
      transition: $base-transition;
      &:hover {
        opacity: 1;
      }
    }
  }
}
