.portfolio {
  background: $secondary-color;
  background: linear-gradient(90deg, lighten($secondary-color,10%), lighten($primary-color,10%));
  padding-top:70px;
  &__content {
    @include centerContainer;
    @include flexBasic(center, row, wrap);
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: $text-color-light;
    margin-bottom: 50px;
    flex-basis: 100%;
    text-shadow: 0 0 0 white;
  }
  &__box {
    position: relative;
    width: 48%;
    max-width: 960px;
    padding: 60px 10px 0;
    opacity: 0;
    top: 0;
    z-index: 1;
    transition: all 0.5s cubic-bezier(.17, .67, .5, 1);
    @media (max-width: 1016px) {
      width: 96%;
      padding: 60px 2% 0;
    }
    &:nth-child(even) {
      left: -40%;
      .portfolio__img {
        img {
          border-radius: 100px 0 100px 0;                    
        }    
      }
      &.isfullyinviewport, &.isaboveviewport {
          @extend %slide-in-left;
      } 
      
    }
    &:nth-child(odd) {
      right: -40%;
      .portfolio__img { 
        img {
          border-radius: 0 100px 0 100px;   
        }      
      }
      &.isfullyinviewport, &.isaboveviewport {
          @extend %slide-in-right;
      } 
    }
    &:last-child() {
      margin-bottom: 60px;
    }
    
  }
  &__img {
    width: 100%;
    // box-shadow: 0 1px 5px 0 $text-color;
    img {
      width: 100%;
      display: block;
    box-shadow: 0 1px 5px 0 $text-color;
    transition: all 0.5s ease-in-out;
    &:hover {
      box-shadow: none;
      transform: scale(0.95);
    }    
    }
  }
  &__links {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;

    p {
      padding-left: 10px;
      color: white;
      font-weight: 500;
      text-shadow: 0 0 0 white;
      font-size: $font-size*1.2;
    }
  }
  &__tags {
    @include flexBasic(flex-start, row, wrap);
    @media (max-width: 1016px) {
      justify-content: space-between;
    }
    a {
      display: inline-block;
      min-width: 80px;
      height: 20px;
      padding: 2px 10px;
      margin: 5px;
      line-height: 20px;
      text-align: center;
      font-size: $font-size;
      background: rgba($primary-color, 1);
      color: $text-color-light;
      box-shadow: 0 1px 5px 0 $text-color;
      text-decoration: none;
      &:hover {
        background: rgba($secondary-color, 1);
      }

    }
  }
  hr {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 960px;
    height: 3px;
    background: #efefef;
    border: none;
    box-shadow:0 1px 5px 0 $text-color ;
  }

}
